[submodule "src/ICGui"]
	path = src/ICGui
	url = ../../nerficg-project/icgui
[submodule "src/Methods/NVGSViewer"]
	path = src/Methods/NVGSViewer
	url = https://github.com/UHasselt-DigitalFutureLab/NVGSViewer.git
