*.png
*.pdf
*.pyc
*.aux
*.yaml
*.mp4
*.txt
*.egg
*.so
*.egg-info
*.ipynb
*.log
*.npz
!resources/*
.vscode
.DS_Store
.idea/
build/
dist/
backup/
.cache/
.pytest_cache/
imgui.ini
__pycache__/

*.npz
*.ply
output/
SG_test/wandb/*